
.vs/MyTetris/v17/.suo
*.vsidx
*.lock
*.dll
*.exe
*.pdb
*.cache
MyTetris/obj/MyTetris.csproj.nuget.dgspec.json
*.props
*.targets
*.json
MyTetris/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MyTetris/obj/Debug/net6.0/MyTetris.AssemblyInfo.cs
MyTetris/obj/Debug/net6.0/MyTetris.csproj.BuildWithSkipAnalyzers
MyTetris/obj/Debug/net6.0/MyTetris.csproj.FileListAbsolute.txt
MyTetris/obj/Debug/net6.0/MyTetris.GeneratedMSBuildEditorConfig.editorconfig
MyTetris/obj/Debug/net6.0/MyTetris.GlobalUsings.g.cs
*.v2
